.wrapper{overflow: hidden;}
.container{max-width: 1280px; width: 100%;}
.bg-light {background-color: mintcream !important;}
.p-primary{font-size: 20px; font-weight: 400; color: teal;}
.p-secondary{font-size: 22px; font-weight: 600; color: teal;}
h1{font-size: 60px; font-weight: 700; color: darkcyan;}
h2{font-size: 45px; font-weight: 600;}
h4{font-size: 32px; font-weight: 500; color: teal;}
p,h1,h2,h3,h4,h5,h6{margin: 0; padding: 0;}
a{text-decoration: none; color: teal;}

.navbar .navbar-brand img{height: 60px; width: 60px;}
.navbar-expand-lg .navbar-nav .nav-link { padding-right: 3.5rem; padding-left: 3.5rem;}
.banner-profile{background: lightcyan; padding: 120px 20px;}
.banner-profile .my-photo{width: 400px; height: 400px; border-radius: 10px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}


.about_me{padding: 40px;}

  
 



